body {
  background-color: #ccc; }

.gallery {
  width: 1030px;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  text-transform: uppercase;
  font-family: Impact; }
  .gallery--item1 {
    float: left;
    background-image: url("http://www.placecage.com/c/323/223"); }
    .gallery--item1 {
      width: 323px;
      height: 183px;
      border: 5px solid white;
      padding: 40px 0 0;
      margin: 0 14px 8px 0; }
  .gallery--item2 {
    float: left;
    background-image: url("http://www.placecage.com/gif/323/223"); }
    .gallery--item2 {
      width: 323px;
      height: 183px;
      border: 5px solid white;
      padding: 40px 0 0;
      margin: 0 14px 8px 0; }
  .gallery--item3 {
    margin: 14px 0 0;
    clear: left;
    background-image: url("http://www.placecage.com/gif/670/223"); }
    .gallery--item3 {
      width: 670px;
      height: 163px;
      border: 5px solid white;
      padding: 60px 0 0; }
  .gallery--item4 {
    float: right;
    background-image: url("http://www.placecage.com/gif/324/464"); }
    .gallery--item4 {
      width: 324px;
      height: 304px;
      border: 5px solid white;
      padding: 160px 0 0; }
